/*light/dark mode */
:root{
    --color-bg: #02132E;
    --color-fg: #E9F1F7;
}

@media (prefers-color-scheme: light){
    :root{
        --color-bg: #e9f1f7;
        --color-fg: #02132E;
    }
}


.square{
    height: 100px;
    width: 100px;
    background-color: seagreen;
}

.square:hover{
    background-color:#F3B700;
}

.square:active{
    background-color:#FE5D26;
}

@media (orientation:landscape){
    .square{
        background-color: plum;
    }
}


/* rain effect */
.rainbuttoncontainer{
    height:500px;
}

.raincontainer{
    display: none;
}

.show-rain{
    display: block;
}

#rainbutton{
    background: linear-gradient(in lch, hsl(206, 47%, 94%), hsl(226, 62%, 45%));
    width: 50px;
    height: 50px;
    border-radius: 0 60% 50% 60%;
    border:none;
    transform: rotate(45deg);
    display: block;
    margin: 20px auto 10px auto;
}

#rainbutton:active{
    transform: rotate(-90deg) translateX(-0.4em) rotate(135deg);
}

/* written by Jhey */
.rain__drop {
    -webkit-animation-delay: calc(var(--d) * 1s);
            animation-delay: calc(var(--d) * 1s);
    -webkit-animation-duration: calc(var(--a) * 1s);
            animation-duration: calc(var(--a) * 1s);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: drop;
            animation-name: drop;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    height: 30px;
    left: calc(var(--x) * 1%);
    position: absolute;
    top: calc((var(--y) + 50) * -1px);
  }

  .rain__drop path {
    fill: #a1c6cc;
    opacity: var(--o);
    transform: scaleY(calc(var(--s) * 1.5));
  }

  @-webkit-keyframes drop {
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(100vh);
    }
  }
  @keyframes drop {
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(100vh);
    }
  }
  






/*For loading page */
.equalbars{
    background-image: linear-gradient(to right,var(--color-fg) 40%, var(--color-bg) 60%);
    background-size: 500% 100%;
    background-position: 100%;
    transition: background-position 4s ease-out;
    width: 100%;
    height: 20%;
}

.equalbars:hover{
    background-position: 0%;
}
/*end for loading page*/